<div class="wrapper">
    <div class="abs-center wd-xl">
        <!-- START panel-->
        <div class="p text-center">
            <img class="img-thumbnail rounded-circle" src="{{ user?.picture }}" alt="Avatar" width="60" height="60" />
        </div>
        <div class="panel widget b0">
            <div class="panel-body">
                <p class="text-center">Please login to unlock your screen.</p>
                <form [formGroup]="valForm" role="form" name="lockForm" (submit)="submitForm($event, valForm.value)">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="password" name="password" placeholder="Password" formControlName="password"
                                required="" />
                            <div class="input-group-append">
                                <span class="input-group-text fa fa-lock text-muted bg-transparent border-left-0"></span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">This field is required</div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left mt-sm">
                            <a class="text-muted" [routerLink]="'/recover'">
                                <small>Forgot your password?</small>
                            </a>
                        </div>
                        <div class="pull-right">
                            <!-- Change this button type to submit to send the form data-->
                            <button class="btn btn-sm btn-primary" type="submit">Unlock</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END panel-->
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
            <span>-</span>
            <span>{{ settings.app.name }}</span>
            <br/>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>