@{
    ViewData["Title"] = "Welcome";
}

<div>
    <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
    <br /><br />
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Design</h2>
        <ul>
            <li>Full architecture with responsibility separation concerns, SOLID and Clean Code</li>
            <li>DDD Concepts - Layers and Domain Model Pattern</li>
            <li>CQRS - Command Query Responsibility Segregation</li>
            <li>Event Sourcing</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Technologies</h2>
        <ul>
            <li>.NET 5.0</li>
            <li>ASP.NET MVC Core 5.0</li>
            <li>ASP.NET WebAPI Core 5.0</li>
            <li>ASP.NET Identity Core 5.0</li>
            <li>EF Core 5.0</li>
            <li>AutoMapper</li>
            <li>FluentValidator</li>
            <li>MediatR</li>
            <li>Swagger UI</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run</h2>
        <ul>
            <li><a href="http://equinoxproject.azurewebsites.net" target="_blank">See Online</a></li>
            <li>Run anywhere</li>
            <li>Scale on the cloud</li>
        </ul>
    </div>
</div>
