<div class="reset-container wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START panel-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img class="block-center rounded reset-logo" src="assets/img/logo-inverse.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <p class="text-center pv">Reset your password.</p>
                <div [hidden]="!errors.length">
                    <alert *ngFor="let alert of errors;let i = index" [type]="'danger'" dismissible="true" (close)="closeAlert(i)">
                        <span [innerHTML]="alert"></span>
                    </alert>
                </div>
                <form [formGroup]="valForm" class="form-validate mb-lg" *ngIf="!passChanged" role="form" name="registerForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                   
                    <div formGroupName="passwordGroup">
                        <div class="form-group has-feedback">
                            <label class="text-muted">Pass</label>
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" type="password" name="password" placeholder="Type your password" formControlName="password"
                                    [formControl]="valForm.get('passwordGroup.password')" />
                                <div class="input-group-append">
                                    <span class="fa fa-lock input-group-text text-muted bg-transparent border-left-0"></span>
                                </div>
                            </div>
                            <span class="text-danger" *ngIf="valForm.get('passwordGroup.password').hasError('required') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)">Type your pass</span>
                            <span class="text-danger" *ngIf="valForm.get('passwordGroup.password').hasError('pattern') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)">The pass must have 'a-zA-Z0-9' and between 8 and 100 characters long</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="text-muted">Retype Pass</label>
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" type="password" placeholder="Retype your password" name="confirmPassword" formControlName="confirmPassword"
                                    [formControl]="valForm.get('passwordGroup.confirmPassword')" />
                                <div class="input-group-append">
                                    <span class="fa fa-lock input-group-text text-muted bg-transparent border-left-0"></span>
                                </div>
                            </div>
                            <span class="text-danger" *ngIf="valForm.get('passwordGroup.confirmPassword').hasError('equalTo')">The pass must match</span>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary mt-lg" *ngIf="showButtonLoading == false" type="submit">Reset</button>
                    <button class="btn btn-block mt-lg" *ngIf="showButtonLoading" type="submit">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </button>
                </form>
                <p class="text-success text-center" *ngIf="passChanged">Password <b>changed</b> successful.</p>
                <br>
                <!-- <div class="alert alert-danger text-center"></div> -->
                <a class="btn btn-block btn-secondary" [routerLink]="'/sign-in'">Go back and sign-in</a>
            </div>
        </div>
        <!-- END panel-->
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
            <span>-</span>
            <span>{{ settings.app.name }}</span>
            <br/>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>